DATABASE_URL="postgresql://user:password@endpoint.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="sua-chave-secreta-aqui-gere-uma-com-openssl-rand-base64-32"
NEXTAUTH_URL="https://seu-projeto.vercel.app"
